*{
  margin: 0;
  padding: 0;
}
/* header{
  background: var(--#FFFFFF, rgba(255, 255, 255, 1));;
} */
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1350px;
  margin: auto;
  padding: 20px 0;
}
nav a{
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
nav li{
  list-style: none;
  
  
}
nav ul{
  display: flex;
  gap: 30px;
  
}
.btn{
  color: rgba(255, 255, 255, 1);
  background: rgba(70, 145, 101, 1);
  padding: 12px 16px;
  gap: 10px;
  width: 164px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid white;
}
.hero{
  background-image: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
  width: 1350px;
  height: 550px;
  background-repeat: no-repeat;
  margin:80px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.hero-con{
/* display: inline-flex; */
align-items: center;
color: #30B868;

gap: 8px;

margin-bottom: 25px;
border-radius: 5px;

text-align: center;
}
.hero h1{
  color: aliceblue;
  text-align: center;
  font-size: 62px;
  line-height: 54px;
  padding: 10px 20px;
  
}
.hero-content p{
font-size: 18px;
font-weight: 24px;
line-height: 24px;
text-align: center;
padding: 25px;
color: rgba(255, 255, 255, 1);
width: 1360px;
height: 60px;
}
.hero-content .fast-btn{
  color: #30B868;
}
.hero-content .nd-btn{
  background-color: #30B868;
  
}
.card .icon{
  background-image: url(B13-A01-Knowledge-Vault/assets/Bookmarks.png);
}
.note-section{
  max-width: 1350px;
  margin: 0 auto;
  padding: 80px 24px;
  text-align: center;
}
.note-section h1{
  font-size: 48px;
  color: #001931;
  margin-bottom: 12px;
}
.note-section .title{
  color: #627382;
  font-size: 16px;
  line-height: 20px;
}
.cards{
  display: flex;
  gap: 24px;
  padding: 120px;
}
.card{
  border-radius: 16px;
  padding: 40px 28px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  text-align: center;
}
.icon{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* background: rgba(249, 85, 85, 1); */
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto 10px;
/* color: white; */
font-size: 24px;
}
.card h3{
color: #001931;
font-size: 24px;
font-weight: 600;
line-height: 20px;
text-align: center;
gap: 16px;
padding: 24px;
}
.card p{
color: #627382;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.main2{
  max-width: 1350px;
  display: flex;
  margin: 70px auto;
  gap: 80px;
  height: 600;
  padding: 0 20px;
  align-items: center;
}
.main2 h6{
color: #30B868;
font-size: 16px;
font-weight: 500;
line-height: 20px;
}
.main2 h1{
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
}
.main2 p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.main2 ul{
  list-style: none;
}
.main2 ul li{
  color: rgba(0, 25, 49, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  
}
.last-section{
  max-width: 1350px;
  height: 360px;
  background: rgba(247, 246, 242, 1);
  border-radius: 8px;
  margin: 80px auto;
  padding: 80px 20px;
  text-align: center;
}
.last-section h1{
font-size: 40px;
font-weight: 700;
line-height: 45px;
color: rgba(0, 25, 49, 1);
}
.last-section p{
  color: #627382;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.last-section .my-btn{
  text-decoration: none;
  background: #30B868;
  width: 20px;
  height: 20px;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  padding: 5px 6px;
  border-radius: 5PX;
}
.last{
  font-size: 15px;
  margin-top: 15px;
}
.footer-section{
  max-width: 1350px;
  height: 350px;
  background-color: rgba(0, 25, 49, 1);
  padding: 80px 20px;
  margin: 80px auto;
}

.logo{
  display: flex;
  align-items: center;
  gap: 10;
}
.social{
color: #FFFFFF;
text-align: right;
font-size: 20px;
font-weight: 500;
line-height: 28px;
}
.line{
  margin: 8px 66px;
  border: 1px solid hsla(239, 93%, 48%, 0.941);
  
  
}
.finish{
  text-align: center;
  color: rgba(250, 250, 250, 1);
}
